@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}
body {
	font-family: 'Raleway';
	font-size: 15px;
	margin:0;
}

nav, header, section, aside {
	margin: 20px;
}

h1, h2, h3, span {
	font-weight: bold;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    color: #0065FC;
}

img[alt="Reservia"] {
	float: left;
}

.rechercher {
	display: flex;
  	flex-direction: row;
}

input[type="submit"] {
 	background: #0065FC;
 	border: 1px #0065FC solid;
 	color: #ffffff;
 	border-bottom-right-radius: 30px; 
 	border-top-right-radius: 30px;
 	font-size: 20px;
 }

input[type="text"] {
	border: 1px #F2F2F2 solid;
	border-radius: 0px;
	font-size: 20px;
}

form i {
 	background-color: #F2F2F2;
 	border: 2px #F2F2F2 solid;
 	border-bottom-left-radius: 30px; 
 	border-top-left-radius: 30px;
}

#filtre{
	display: flex;
    flex-direction: row;
    padding-left: 0;
}
header ul {
	padding-left: 0;
}
li {
	list-style: none;
	padding: 10px;
	padding-left: 0px;
}

button {
	background: #ffffff;
    border: 3px #F2F2F2 solid;
	border-radius: 30px;
	padding-left: 0px;
	padding-right: 10px;
	font-size: 20px;
}

button i {
	float: left;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 3px #DEEBFF solid;
	border-radius: 100px;
	margin-right: 10px;
}

p i {
	color: #0065FC;
    border: 3px #F2F2F2 solid;
	border-radius: 100px;
	padding: 5px 10px;
}


article i {
	color: #0065FC;
}

#block_hebergement_populaire {
	display: grid;	
	grid-template-columns: 69% 30%;	
}

#section_hebergement , aside {    
	background-color: #F2F2F2;
	border: 2px #F2F2F2 solid;
	border-radius: 30px;
	padding: 20px;
}

#hebergement {
	display: grid;	
	grid-template-columns: 32% 32% 32%;
	grid-column-gap: 20px;
}

#populaires {
	display: grid;
	grid-auto-flow: row;	
}

#activites {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 20px;
}
.vieux_port {
	grid-column: 1 ;
	grid-row: 1/ span 2;
}
.parc_national {
	grid-column: 3 ;
	grid-row: 1/ span 2;
}
section article {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border: 3px #FFFFFF solid;
	border-radius: 20px;
	padding: 2px;
	box-shadow: 3px 3px 7px silver;
	margin-bottom: 20px;	
}

aside article {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border: 5px #FFFFFF solid;
	border-radius: 20px;
	padding: 2px;
	box-shadow: 3px 3px 7px silver;
	margin-bottom: 20px;
}

article img {
	border-radius: 20px 20px 0 0;	
	object-fit: cover;
	width: 100%;
	height: 175px;
}

#hebergement img {
	height: 130px;
}

aside img {
	width: 40%;
	float: left;
	border-radius: 20px 0 0 20px;
	margin-right: 15px;
}

.vieux_port img {
	height: 450px;
}
.parc_national img {
	height: 450px;
}

footer {
	background-color: #F2F2F2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
}

a {
	 text-decoration-line: none;
}

@media screen and (max-width: 1199px) {
	#block_hebergement_populaire {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"test2" 
		"test1";
	}
	#section_hebergement {
		grid-area: test1;
	}
	aside {
		grid-area: test2;
	}
	#populaires, #activites {
		display: grid;	
		grid-template-columns: 32% 32% 32%;
		grid-column-gap: 20px;
	}
	.vieux_port, .parc_national{
		grid-row: 1;
	}
	
	#populaires img {
		height: 200px;
	}
	#hebergement img, #activites img {
		height: 150px;
	}
	
}
@media screen and (max-width: 900px) {

	#nav {
		display: flex;
		flex-wrap: wrap-reverse;
		align-content: space-between;

	}
	#hebergement, #populaires, #activites {
		display: block;
	}
	#filtre {
		flex-wrap: wrap;
	}

	nav, header, section {
		margin: 30px;
	}

	#section_hebergement {
		background-color: #FFFFFF;
		border: none;
		padding: 0;
	}

	aside {
		border-radius: 0;
		margin: 0;
	}
	#populaires img {
		height: 130px;
	}
	#hebergement img, #activites img {
		height: 100px;
	}
	footer {
		display: block;
		padding-top: 20px;
	}

}





