
/*--------------------------balises générales---------------------------*/

:root {
	--background: #F2F2F2;
	--icone: #0065FC;
	--background_icone: #DEEBFF;
}
	
@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

body {
	display: grid;
	grid-template-columns: 1fr;
	font-family: 'Raleway';
	font-size: 14px;
	margin: 0;
    padding: 0;
}

h1, h2, h3, span, #plus {
	font-weight: bolder;
}
a {
	text-decoration-line: none;
	color: black;
}
ul {
	padding-left: 0px;
}
li {
	list-style: none;
}



/*--------------------------------nav------------------------------------*/

nav {
	margin: 50px 50px 0 50px;
}
img[alt="Reservia"] {
	float: left;
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#inscription {
	color: #0065FC;
	font-weight: bolder;
}
#ancre a {
	margin-right: 50px;
}
#ancre a:hover {
	color: var(--icone);
	padding-top: 48px;
	border-top: 2px var(--icone) solid;
}



/*--------------------------------header-------------------------------*/

header {
	margin: 50px 50px 0 50px;
}
h1 {
	margin: 0;
}
#rechercher {
	display: flex;
  	flex-direction: row;
}
#search_icone {
	display: none;
}
form i {
	font-size: 16px;
 	background-color: var(--background);
 	border-bottom-left-radius: 10px; 
 	border-top-left-radius: 10px;
 	padding: 20px;
}
input[type="text"] {
	border: 1px var(--background) solid;
	border-radius: 0px;	
	padding: 20px;
}
::placeholder {
	font-weight: bolder;
	color: black;
}
input[type="submit"] {
 	background: var(--icone);
 	border: 1px var(--icone) solid;
 	color: #ffffff;
 	border-bottom-right-radius: 10px; 
 	border-top-right-radius: 10px;
 	padding: 15px;
}
#filtre h3 {
	padding-right: 30px;
}
#filtre {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 15px;
}
#button_filtre {
	display: flex;
    flex-direction: row;
}
button {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #ffffff;
    border: 2px var(--background) solid;
	border-radius: 100px;
	padding-left: 0;
	padding-right: 20px;
	margin-right: 20px;
	font-weight: bold;
}
button i {
	font-size: 16px;
	float: left;
	color: var(--icone);
	background-color: var(--background_icone);
	border: 3px var(--background_icone) solid;
	border-radius: 100px;
	padding: 12px;
	margin-right: 20px;
	transform: scale(1.05);
}
button:hover {
	background-color: var(--background);
	cursor: grab;
}
p i {
	color: var(--icone);
    border: 3px var(--background) solid;
	border-radius: 100px;
	padding: 5px 10px;
}



/*------------------------------section-------------------------------*/

#block_hebergement_populaire {
	display: grid;	
	grid-template-columns: 68% 32%;	
}
section {
	margin: 40px 50px 0 50px;
}
#section_hebergement {
	padding: 27px 40px 45px 40px;
}
aside {
	margin: 40px 50px 0 0;
	padding: 27px 30px 30px 30px;
}
#section_hebergement, aside {    
	background-color: var(--background);
	border: 2px var(--background) solid;
	border-radius: 30px;
}
#hebergement {
	display: grid;	
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
#populaires {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 30px;
}
#activites {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}
.vieux_port {
	grid-column: 1 ;
	grid-row: 1/ span 2;
}
.parc_national {
	grid-column: 3 ;
	grid-row: 1/ span 2;
}

section article {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border-radius: 15px;
	padding: 5px;
	box-shadow: 3px 3px 7px silver;	
}

aside article {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border-radius: 15px;
	padding: 5px 40px 5px 5px;
	box-shadow: 3px 3px 7px silver;
}

article img {
	border-radius: 15px 15px 0 0;	
	object-fit: cover;
	width: 100%;
	height: 135px;
}	

#hebergement img {
	height: 115px;
}
aside img {
	width: 40%;
	float: left;
	border-radius: 15px 0 0 15px;
	margin-right: 20px;
}
#activites img {
	transform: scale(1.03);
	margin-top: -4px;
}
.vieux_port img {
	height: 370px;
}
.parc_national img {
	height: 370px;
}

#hebergement h3  {
	margin: 10px 0 0 10px;
}
aside h3 {
	margin: 10px 0 0 0;
}
#activites h3 {
	margin-left: 20px;
}
#hebergement p {
	margin-left: 10px;
}
aside p {
	margin: 10px 0 40px 0;
}
#hebergement div {
	margin-left: 10px;
}
h2 i {
	float: right;
}
article i {
	font-size: 12px;
	color: var(--icone);
}
.etoile_vide {
	color: #DBDBDB;
}

#plus {
	margin-top: 40px;
}



/*------------------------------footer--------------------------------*/

footer {
	background-color: var(--background);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	padding: 22px 50px 50px 50px;
	margin-top: 60px;
}
footer li {
	padding: 7px 0 7px 0;
}



/*---------------------------responsive-------------------------------*/

@media screen and (max-width: 1199px) {

	#block_hebergement_populaire {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"test2" 
		"test1";
	}
	#section_hebergement {
		grid-area: test1;
	}
	aside {
		grid-area: test2;
		margin-left: 50px;
	}
	#populaires, #activites {
		display: grid;	
		grid-template-columns: 32% 32% 32%;
		grid-column-gap: 20px;
	}

	#activites img {
		height: 135px;
	}*
	.vieux_port, .parc_national{
		grid-row: 1;
	}
}


@media screen and (max-width: 850px) {
	
	nav {
		margin: 0;
		padding: 30px 20px 0px 20px ;	
	}



	header {
		margin: 35px 0 25px 20px;
	}
	h1 {
		font-size: 25px;
	}
	input[type="submit"] {
		display: none;
	}
	#search_icone {
		display: block;
		background: var(--icone);
	 	border: 1px var(--icone) solid;
	 	color: #ffffff;
	 	border-radius: 10px 10px 10px 10px; 
	}
	button {
		margin-bottom: 10px;
	}
	#button_filtre, #filtre {
		flex-wrap: wrap;
		margin: 0;
	}
	


	#hebergement, #populaires, #activites {
		display: block;
	}
	#section_hebergement {
		background-color: #FFFFFF;
		border: none;
		padding: 0;
		margin: 22px 20px 0 20px;
	}
	.totalité {
		float: left;
		margin-right: 10px;
	}
	aside {
		border-radius: 0;
		margin: 0;
		padding: 22px 20px 30px 20px;
	}
	section article {
		margin-bottom: 10px;
	}
	aside article {
		margin-bottom: 10px;
	}
	aside p {
		margin-bottom: 20px;
	}
	#section_activites {
		margin: 22px 20px 0 20px;
	}
	#activites img {
		transform: scale(1.015);
	}
	


	footer {
		display: block;
		padding-top: 20px;
		margin-top: 25px;	
		padding-left: 30px;
	}		
}


@media screen and (max-width: 550px) {

	nav {
		border-bottom: 2px var(--background) solid;
	}
	#nav {
		display: flex;
		flex-wrap: wrap-reverse;
	}
	#ancre {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	#ancre a:hover {
		padding-top: 0;
		border-top: none;
		color: var(--icone);
		border-bottom: 2px var(--icone) solid;
		margin-bottom: 0;
	}
	#inscription {
		margin-top: 15px;
	}	
	#nav_hebergement {
		margin: 0;
		margin:  55px 15% 10px 15%;
	}
	#nav_activites {
		margin: 0;
		margin: 55px 15% 10px 15%;
	}
	#activites img {
	transform: scale(1.03);
	}
}




