
/*--------------------------balises générales---------------------------*/

:root {
	--background: #F2F2F2;
	--icone: #0065FC;
	--background_icone: #DEEBFF;
}
	
@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

body {
	display: grid;
	grid-template-columns: 1fr;
	font-family: 'Raleway';
	font-size: 14px;
	margin: 0;
    padding: 0;
}

h1, h2, h3, span, #plus {
	font-weight: bolder;
}
a {
	text-decoration-line: none;
	color: black;
}
ul {
	padding-left: 0px;
}
li {
	list-style: none;
}



/*--------------------------------nav------------------------------------*/

nav {
	margin: 0 50px 0 50px;
}

nav {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
}
nav a {
		padding-top: 50px;
	}
img[alt="Reservia"] {
	float: left;

}
#inscription {
	color: #0065FC;
	font-weight: bolder;
	justify-self: end;

}
#nav_hebergement  {
	justify-self: end;

}
#nav_activites {
	justify-self: end;

}
#nav_hebergement:hover {
	color: var(--icone);
	border-top: 2px var(--icone) solid;
}
#nav_activites:hover {
	color: var(--icone);
	border-top: 2px var(--icone) solid;
}



/*--------------------------------header-------------------------------*/

header {
	margin: 50px 50px 0 50px;
}
h1 {
	margin: 0;
}
#rechercher {
	display: flex;
  	flex-direction: row;
}
#search_icone {
	display: none;
}
form i {
	font-size: 16px;	
 	background-color: var(--background);
 	border-bottom-left-radius: 10px; 
 	border-top-left-radius: 10px;
 	padding: 20px;
}
input[type="text"] {
	border: 1px var(--background) solid;
	border-radius: 0px;	
	padding: 20px;
}
::placeholder {
	font-weight: bolder;
	color: black;
}
input[type="submit"] {
 	background: var(--icone);
 	border: 1px var(--icone) solid;
 	color: #ffffff;
 	border-bottom-right-radius: 10px; 
 	border-top-right-radius: 10px;
 	padding: 15px;
}
input[type="submit"]:hover {
	cursor: pointer;
}
#filtre h3 {
	padding-right: 30px;
}
#filtre {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 15px;
}
#button_filtre {
	display: flex;
    flex-direction: row;
}
button {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #ffffff;
    border: 2px var(--background) solid;
	border-radius: 100px;
	padding-left: 0;
	padding-right: 15px;
	margin-right: 20px;
	font-weight: bold;
}
button i {
	font-size: 18px;
	padding: 15px 0 15px 0;	
	width: 50px;
	color: var(--icone);
	background-color: var(--background_icone);
	border: 3px var(--background_icone) solid;
	border-radius: 100px;
	margin-right: 15px;
	transform: scale(1.05);
}
button:hover {
	background-color: var(--background);
	cursor: pointer;
}
p i {
	color: var(--icone);
    border: 3px var(--background) solid;
	border-radius: 100px;
	padding: 5px 10px;
}



/*------------------------------section-------------------------------*/

#block_hebergement_populaire {
	display: grid;	
	grid-template-columns: 68% 32%;	
}
section {
	margin: 40px 50px 0 50px;
}
#section_hebergement {
	padding: 27px 40px 45px 40px;
}
aside {
	margin: 40px 50px 0 0;
	padding: 27px 30px 30px 30px;
}
#section_hebergement, aside {    
	background-color: var(--background);
	border: 2px var(--background) solid;
	border-radius: 30px;
}
#hebergement {
	display: grid;	
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
#populaires {
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 30px;
}
#activites {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 40px;
}
#vieux_port {
	grid-column: 1 ;
	grid-row: 1/ span 2;
}
#parc_national {
	grid-column: 3 ;
	grid-row: 1/ span 2;
}

section article {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	border-radius: 15px;
	padding: 5px;
	box-shadow: 3px 3px 7px silver;	
}
.hotels_populaires {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 34% 60%;
}
.etoiles {
	position: absolute;
	transform: translate(0, 730%);
}
aside article {
	background-color: #FFFFFF;
	border-radius: 15px;
	padding: 5px 0 5px 5px;
	box-shadow: 3px 3px 7px silver;
}
.fiche_hotel {
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}
article img {
	border-radius: 15px 15px 0 0;	
	object-fit: cover;
	width: 100%;
}	

#hebergement img {
	height: 115px;
}
aside img {	
	border-radius: 15px 0 0 15px;
	height: 135px;
}
#activites img {
	transform: scale(1.035);
	margin-top: -4px;
}
#vieux_port img {
	height: 390px;
}
#fort_pomegues img{
	height: 180px; 
}
#ile_frioul {
	height: 165px;
	margin-top: 40px;
}
#ile_frioul img{
	height: 110px; 
}
#parc_national img {
	height: 390px;
}
#notre_dame img{
	height: 140px;
}
#notre_dame {
	height: 190px;
}
#activites a{
	text-align: justify;
}
#parc_longchamps img{
	height: 153px;
}
#hebergement h3  {
	margin: 10px 0 0 10px;
}
aside h3 {
	margin: 10px 0 0 0;
}
#activites h3 {
	margin-left: 20px;
}
#hebergement p {
	margin: 10px 0 10px 10px;
}
/*aside p {
	margin: 10px 0 40px 0;
}*/	
#hebergement div {
	margin-left: 10px;
}
h2 i {
	float: right;
}
article i {
	font-size: 12px;
	color: var(--icone);
}
.etoile_vide {
	color: #DBDBDB;
}

#plus {
	margin-top: 40px;
}



/*------------------------------footer--------------------------------*/

footer {
	background-color: var(--background);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	padding: 22px 50px 50px 50px;
	margin-top: 60px;
}
footer li {
	padding: 7px 0 7px 0;
}



/*---------------------------responsive-------------------------------*/

@media screen and (max-width: 1199px){

	#block_hebergement_populaire {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"test2" 
		"test1";
	}
	#section_hebergement {
		grid-area: test1;
	}
	aside {
		grid-area: test2;
		margin-left: 50px;
	}
	#populaires, #activites {	
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	} 
	.fiche_hotel {
	margin-right: 5px;
	}	
	#activites img {
		height: 135px;
	}
	#vieux_port, #parc_national{
		grid-row: 1;
	}
	.fiche_technique {
		margin-right: 2px;
	}
}


@media screen and (max-width: 975px) {
	
	nav {
		margin: 0;
		padding: 30px 20px 0px 20px ;	
	}
	img[alt="Reservia"] {
		float: none;
	}
	nav {
		border-bottom: 2px var(--background) solid;
	}
	nav {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "a b"
							 "c d";
	}
	nav a {
		padding-top: 0;
	}
	#inscription {
		grid-area: b;
		justify-self: end;
		margin-top: 15px;
	}
	#nav_hebergement {
		justify-self: center;
		align-self: end;
		padding-bottom: 15px; 

	}
	#nav_activites {
		justify-self: center;
		align-self: end;
		padding-bottom: 15px;

	}
	#nav_hebergement:hover {
		border-top: none;
		color: var(--icone);
		border-bottom: 2px var(--icone) solid;
	}
	#nav_activites:hover {
		border-top: none;
		color: var(--icone);
		border-bottom: 2px var(--icone) solid;
	}



	header {
		margin: 35px 0 25px 20px;
	}
	h1 {
		font-size: 25px;
	}
	input[type="submit"] {
		display: none;
	}

	#search_icone {
		display: block;
		position: absolute;
		transform: translate(310%,-101%);
		background: var(--icone);
	 	color: #ffffff;
	 	border-radius: 15px;
	  
	}
	button {
		margin-bottom: 10px;
	}
	#button_filtre, #filtre {
		flex-wrap: wrap;
		margin: 0;
	}
	


	#populaires {
		display: block;
	}
	#parc_national {
	grid-column: 2 ;
	}
	#hebergement,#activites {
		grid-template-columns: 1fr 1fr;
	}
	
	#section_hebergement {
		background-color: #FFFFFF;
		border: none;
		padding: 0;
		margin: 22px 20px 0 20px;
	}
	.totalité {
		float: left;
		margin-right: 10px;
	}
	aside {
		border-radius: 0;
		margin: 0;
		padding: 22px 20px 30px 20px;
	}
	section article {
		margin-bottom: 10px;
	}
	aside article {
		margin-bottom: 10px;
	}
	aside p {
		margin-bottom: 20px;
	}
	#section_activites {
		margin: 22px 20px 0 20px;
	}

	
	


	footer {
		display: block;
		padding-top: 20px;
		margin-top: 25px;	
		padding-left: 30px;
	}		
}


@media screen and (max-width: 550px) {

	#hebergement, #activites {
		display: block;
	}
}




